.slide img{
    aspect-ratio: 16 / 9;
    max-height: 90vh;
    max-width: 90vw;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.data{
    position: absolute;
    top: 40%;
    left: 20%;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(----crema3);
    margin-top: 10px;
}

span{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.fa{
    font-size: 1.5rem;
    margin-right: 10px;
}